---
layout: default
title: 文章
permalink: /blog/
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post-list-item">
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <p class="post-meta">{{ post.date | date: "%Y-%m-%d" }}{% if post.tags %} · {{ post.tags | join: " / " }}{% endif %}</p>
      <div class="entry">
        {{ post.excerpt }}
      </div>
      <a class="read-more" href="{{ site.baseurl }}{{ post.url }}">阅读全文</a>
    </article>
  {% endfor %}
</div>
